/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2016, 10:41:39 PM
    Author     : nhats
*/

.root {
     -fx-background-image: url("../images/background.jpg");
     -fx-background-size: cover;
}
.playGame {
     -fx-background-image: url("../images/backgroudgame.jpg");
     -fx-background-size: cover;
}

.btnCus{
     -fx-background-image: url("../images/button.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #fff;
     
}

.btnCus.flag{
     -fx-background-image: url("../images/button-flag.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #fff;
}

.btnCus:hover, .btnCus:disabled{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/buttonHover.png");
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #FBFF00 50%);
    -fx-text-stroke: #002aff;
    -fx-text-stroke-width: 1;
}

.btnCus.flag:hover, .btnCus.flag:disabled{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/buttonHover-flag.png");
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #FBFF00 50%);
    -fx-text-stroke: #002aff;
    -fx-text-stroke-width: 1;
}


#btnA{
     -fx-background-image: url("../images/btnA.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #FFF;
     -fx-text-stroke: #002aff;
     -fx-text-stroke-width: 2px;
}

#btnA:hover, #btnA.clickAns{
     -fx-background-image: url("../images/btnA-Active.png");
}

#btnA.trans {
    -fx-background-image: url("../images/btnA-Trans.gif");
}

#btnA.trueAns{
     -fx-background-image: url("../images/btnA-Success.png");
}

#btnA.falseAns{
     -fx-background-image: url("../images/btnA-Red.png");
}

#btnB{
     -fx-background-image: url("../images/btnB.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #FFF;
}

#btnB:hover, #btnB.clickAns{
     -fx-background-image: url("../images/btnB-Active.png");
}

#btnB.trans {
    -fx-background-image: url("../images/btnB-Trans.gif");
}

#btnB.trueAns{
     -fx-background-image: url("../images/btnB-Success.png");
}

#btnB.falseAns{
     -fx-background-image: url("../images/btnB-Red.png");
}

#btnC{
     -fx-background-image: url("../images/btnC.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #FFF;
}

#btnC:hover,#btnC.clickAns{
     -fx-background-image: url("../images/btnC-Active.png");
}

#btnC.trans {
    -fx-background-image: url("../images/btnC-Trans.gif");
}


#btnC.trueAns{
     -fx-background-image: url("../images/btnC-Success.png");
}

#btnC.falseAns{
     -fx-background-image: url("../images/btnC-Red.png");
}

#btnD{
     -fx-background-image: url("../images/btnD.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #FFF;
}

#btnD:hover, #btnD.clickAns{
     -fx-background-image: url("../images/btnD-Active.png");
}

#btnD.trans {
    -fx-background-image: url("../images/btnD-Trans.gif");
}

#btnD.trueAns{
     -fx-background-image: url("../images/btnD-Success.png");
}

#btnD.falseAns{
     -fx-background-image: url("../images/btnD-Red.png");
}

.btnNor{
    -fx-background-color: rgba(255, 255, 255, 0.35);
    -fx-font: 18px Tahoma;
    -fx-text-fill: black;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.btnNor:hover{
    -fx-effect: dropshadow(three-pass-box, #fff, 12 , 0.5, 1, 1);;
    -fx-background-color: rgba(255, 255, 255, 0.35);
    -fx-text-fill: #002aff;
}
.txtField{
    -fx-background-color: rgba(255, 255, 255, 0.35);
    -fx-text-fill: #002aff;
}
.txtField:hover{
    -fx-text-effect: dropshadow(three-pass-box, #FFF, 12 , 0.5, 1, 1);
    -fx-text-fill: #FFF;
}.txtField:focused,.txtField:focused:hover{
    -fx-text-effect: dropshadow(three-pass-box, #002aff, 12 , 0.5, 1, 1);
    -fx-text-fill: #002aff;
} 

#btnchangeQuiz{
    -fx-background-image: url("../images/changeQuiz-active.png");
    -fx-background-size: cover;
    -fx-background-color : transparent;
}

#btnchangeQuiz:disabled,#btnchangeQuiz:hover{
    -fx-background-image: url("../images/changeQuiz.png");
}

#btnper50{
    -fx-background-image: url("../images/a50-50-acitve.png");
    -fx-background-size: cover;
    -fx-background-color : transparent;
}

#btnper50:disabled,#btnper50:hover{
    -fx-background-image: url("../images/a50-50.png");
}

#btnstop{
    -fx-background-image: url("../images/stopGame-active.png");
    -fx-background-size: cover;
    -fx-background-color : transparent;
}

#btnstop:disabled,#btnstop:hover{
    -fx-background-image: url("../images/stopGame.png");
}
.combo-box {
    -fx-pref-width: 100;
}
.txtDisable{
  -fx-background-color: rgba(220, 220, 220, 0.35);
}

.text-warning:hover{
    -fx-text-fill: #FBFF00;
}
.active{
    -fx-border-color: #FBFF00;
    -fx-border-width: 2px;
}

#boxTextQuest{
    -fx-background-image: url("../images/boxQuest.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#boxtCountTime{
    -fx-padding: 10;
    -fx-border-radius: 50px;
    -fx-background-radius: 5em; 
    -fx-border-color: #002aff;
    -fx-border-width: 2;
}
.table-quiz{
    -fx-font-size: 20px;
}
.text-shadow-black{
    -fx-text-stroke: #002aff;
    -fx-text-stroke-width: 1;
}

.text-white{
    -fx-text-fill: #FFF;
}