/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2016, 10:41:39 PM
    Author     : nhats
*/

.root {
     -fx-background-image: url("../images/background.jpg");
     -fx-background-size: cover;
}

.btnCus{
     -fx-background-image: url("../images/button.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #fff;
     
}

#btnA{
     -fx-background-image: url("../images/btnA.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #0054ff;
}

#btnA:hover{
     -fx-background-image: url("../images/btnA-Active.png");
}

#btnB{
     -fx-background-image: url("../images/btnB.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #0054ff;
}

#btnB:hover{
     -fx-background-image: url("../images/btnB-Active.png");
}

#btnC{
     -fx-background-image: url("../images/btnC.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #0054ff;
}

#btnC:hover{
     -fx-background-image: url("../images/btnC-Active.png");
}

#btnD{
     -fx-background-image: url("../images/btnD.png");
     -fx-background-size: cover;
     -fx-background-color : transparent;
     -fx-text-fill: #0054ff;
}

#btnD:hover{
     -fx-background-image: url("../images/btnD-Active.png");
}

.btnCus:hover{
    -fx-background-image: url("../images/buttonHover.png");
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, blue 50%);
    -fx-text-stroke: #002aff;
    -fx-text-stroke-width: 1;
}
.btnNor{
    -fx-effect: innershadow(three-pass-box, #002aff, 12 , 0.5, 1, 1);
    -fx-background-color: rgba(255, 255, 255, 0.35);
    -fx-text-fill: #FFF;
}
.btnNor:hover{
    -fx-effect: dropshadow(three-pass-box, #fff, 12 , 0.5, 1, 1);;
    -fx-background-color: rgba(255, 255, 255, 0.35);
    -fx-text-fill: #000;
}
.txtField{
    -fx-background-color: rgba(255, 255, 255, 0.35);
    -fx-text-fill: #000;
}    
.txtField:hover,.txtField:focused,.txtField:focused:hover{
    -fx-effect: dropshadow(three-pass-box, #002aff, 12 , 0.5, 1, 1);
    -fx-text-fill: #FFF;
} 

#btnchangeQuiz{
    -fx-background-image: url("../images/changeQuiz-active.png");
    -fx-background-size: cover;
    -fx-background-color : transparent;
}

#btnchangeQuiz:disabled,#btnchangeQuiz:hover{
    -fx-background-image: url("../images/changeQuiz.png");
}

#btnper50{
    -fx-background-image: url("../images/a50-50-acitve.png");
    -fx-background-size: cover;
    -fx-background-color : transparent;
}

#btnper50:disabled,#btnper50:hover{
    -fx-background-image: url("../images/a50-50.png");
}

#btnstop{
    -fx-background-image: url("../images/stopGame-active.png");
    -fx-background-size: cover;
    -fx-background-color : transparent;
}

#btnstop:disabled,#btnstop:hover{
    -fx-background-image: url("../images/stopGame.png");
}
.combo-box {
    -fx-pref-width: 100;
}
.txtDisable{
  -fx-background-color: rgba(220, 220, 220, 0.35);
}

.text-warning.active, .text-warning:hover{
    -fx-text-fill: #FBFF00;
}
#boxTextQuest{
    -fx-background-image: url("../images/boxQuest.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#boxtCountTime{
    -fx-padding: 10;
    -fx-border-radius: 50px;
    -fx-background-radius: 5em; 
    -fx-border-color: #002aff;
    -fx-border-width: 2;
}
